# Executables
mrbc

# Build directories
build

# Test directories
test_host
test_arm

# hal
#src/hal

# Object files
*.o
*.a

# Mruby bytecode
*.mrb

# backup file
*~
*.bak*

# Mac
.DS_Store
*.dSYM

# doxygen output
html
